:root{
    --shadow:cornflowerblue 1px 2px 10px 1px;
    --teal:rgb(120, 185, 228);
    --yellow:rgb(140, 189, 16);
    --pink:rgb(146, 133, 206);
    --bluebox:royalblue 1px 1px 20px 20px;
}

*{
    padding: 0%;
    margin: 0%;

}

body{
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 9%;
    background-color: transparent;
    position: absolute;
}

.nav-logo{
    width: 77px;
    margin-top: 30px;
}

.nav-logo:hover{
    filter: brightness(200%);
}

.bg-video{
    width: 100vw;
    height: auto;
    z-index: -5;
    position: relative;

}

.nav-list{
    list-style: none;
    display: flex;
    background-color: transparent;
}

.nav-list li a{
    text-decoration: none;
    padding: 0px 31px 0px 0px;
    font-family: serif;
    font-size: 31px;
    color: white;
}

.nav-list li a:hover{
    box-shadow:var(--shadow);
    filter:saturate(50);
}

.nav-list2{
    position: absolute;
    top: 80px;
    right: 0;
}

.nav-list2 li a{
    font-size: 20px;
    color: var(--teal);
}


.contant-top{
    padding-bottom:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) url(../madia/imeges/bg-races.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-top{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 50px 0px;
}

.game-option{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
}

.game-option .option-tab img{
    width: 80%;
    height: 400px;
    position: relative;
    border-radius: 20%;

    
}

.option-tab .tab-text{
    color: var(--yellow);
    text-align: center;
    position: relative;
    top: -180px;
    left: -57px;
    display: none;
}

.tab-text h1{
    font-size: 45px;
}

.img-mode:hover + .tab-text{
    display: inline;
}
.img-mode:hover{
    filter: brightness(40%);
    transition-duration: 0.3s;
}






.contant-mid{
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) url(../madia/imeges/artanis.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.trophy-tab{
    width: 30%;
    margin-top: 80px;
}


.contant-mid .trophy-tab img{
    width: 100%;
    height: auto;
}

.trophy-img:hover{
    transform: rotate(25deg);
    
    
}

.contant-mid .trophy-tab h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    color: var(--pink);
    
}

.contant-mid .trophy-tab h1:hover{
    transform: scale(1.2);
    box-shadow:var(--bluebox);

}










@media screen and (max-width:1024px) {
    .game-option{
        grid-template-columns: repeat(2,1fr);
    }

    .trophy-tab{
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .game-option{
        grid-template-columns: repeat(1,1fr);
    }
}



































/* 
.contant-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 120vh;
    background: rgba(0, 0, 0, 0.1) url(./madia/imeges/bg-races.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-top{
    color: white;
    font-size: 30px;
    text-align: center;
}

.game-option{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.game-option .option-tab{
    width: 30%;
}

.option-tab .tab-text{
    color: violet;
}

.tab-text{
    position: absolute;
}

.game-option .option-tab img{
    width: 80%;
    height: 400px;

} */














































/* .logo-box{
    position: relative;
    width: 100%;
    height: auto;
} */











































