:root{
    --shadow:cornflowerblue 1px 2px 10px 1px;
    --teal:rgb(83, 160, 211);
    --gray:rgba(83, 93, 107, 0.815);
    --brown:rgba(150, 122, 61, 0.815);
    --orange:rgb(255, 174, 0);
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 9%;
    background-color: transparent;
    position: absolute;
    z-index: 5;
}

.nav-logo{
    width: 84px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.nav-logo:hover{
    filter: brightness(200%);
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li a{
    position: relative;
    right: 15px;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    font-family: serif;
    font-size: 31px;
    color: white;
}



.nav-list li a:hover{
    box-shadow:var(--shadow);
    filter:saturate(50);
}

.nav-list2{
    position: absolute;
    top: 80px;
    right: 0;
}

.nav-list2 li a{
    font-size: 20px;
    color: var(--teal);
}

.slider{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.slider-tab{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    animation: sliding 60s infinite;
    animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;
}

.img-slider{
    width: 100%;   
    height: 100%;
}

@keyframes sliding {
    0%{
        transform: translateX(0%);
    }

    25%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-200%);
    }

    75%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(-400%);
    }
}

.raynor-container{
    width: 100vw;
    height: auto;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.raynor{
    background: url(../madia/imeges/jim1.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


.raynor-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.raynor-tab h1{
    padding-top: 10%;
    font-size: 40px;
}

.raynor-tab p{
    padding: 30% 10%;
    height: auto; 
    font-family:sans-serif;
    font-weight: 700;
    font-size: 20px;
}


.tychus-container{
    width: 100vw;
    height: auto;
    background-color: var(--brown);
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.tychus{
    background: url(../madia/imeges/tychus.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


.tychus-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tychus-tab h1{
    padding-top: 10%;
    font-size: 35px;
}

.tychus-tab p{
    padding: 30% 10%;
    height: auto;
    font-family:sans-serif;
    font-weight: 700;
    font-size: 20px;
}


.units-terran{
    width: 100vw;
    height: auto;
    background: rgba(0, 0, 0, 0.8) url(../madia/imeges/units-terran/bg.jpg) ;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-units{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hidden-text{
    position:absolute;
    color: rgb(255, 174, 0);
    box-shadow:rgb(204, 134, 3) 1px 2px 10px 10px;
    display: none;
    
}

.hover-unit:hover + .hidden-text{
    display: flex;
    font-size: 30px;
}


.units-terran article .units{
    width: 42vw;
    height: 500px;
}

.ship{
    width: 60vw;
    height: auto;
}

.units-hiddden-box{
    display: flex;
    align-items: center;

}



.hover-unit:hover{
    filter: brightness(200%);
}


















































